<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="row">
            <a href="/">Home</a>
            <a href="/project">Projects</a>
            <a href="/contact">Contact</a>

        </div>
      <div class="container">
            <h1>Here Are Some Projects of Mine</h1>
      </div>
      <div class="col">
        @{
          List<string> projects=new List<string>();
            projects.Add("look at githib");
            projects.Add("Potfolio");
            projects.Add("ninja");
            projects.Add("Wizards");

            foreach(var pro in projects)
            {
              <div class="col-sm-3">
                <img src="https://lh3.googleusercontent.com/proxy/TxI3rNTEI-Hgp1XnlLjnv3Cc-2BxHEeSp3BLQu6lOeCEj_OTbSfGH6Z0q-Fp-w17N1bqv1O7iJEtL-xx0uW0XkINpvjF99qfmdM3ewzgU_90aR3Wtali-h-_uP1x" alt="pic of beer">
              </div>
              <div class="col-sm-7">
                <h3>@pro</h3>
                <p>this is a breif discription of eachproject. posidhopf boe ouruodhof uhdpuoash uohobd;oabuibrubdoub afuovuiab uoidbuobv ;abobudb pufi bpaubpouibdoubfuqbipu ruid uiapurwuipdh io oiahois hdiofhoia spidvbu baoib pibudbo bvpiabiufbdui o iha[boib do[ih foiho[iahso[idh foih aoi[ho[ihoidh fhoi[ah [o</p>
              </div>
            }
        }
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>