<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <a href="/addbook">Go Back</a>
    <br>
    <a href="/">Go Home</a>
    <h1>{{book_info.title}}</h1>
    <h4>description</h4>
    <p>{{book_info.description}}</p>
    <h4>Authors</h4>
    <ul>
        {% for authors in book_info.authors.all %}
        <li>{{authors.firstname}}{{authors.lastname}}</li>
        {% endfor %}
    </ul>
    <label for="authors">Add Authors to {{book_info.title}}:</label>
    <form action="/add_author_to_book/{{book_info.id}}" method="POST">
        {% csrf_token %}
    <select name="authors">
        {% for authors in author_info %}
        <option value="{{authors.id}}">{{authors.firstname}}{{authors.lastname}}</option>
        {% endfor %}
        
    </select>
    <button>Add Author</button>

    </form>
    
</body>
</html>