<!doctype html>
<html lang="en">
    <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="header">
                {% for message in messages %}
                        {% if message.extra_tags == 'over30' %}
                        <span class='col-sm-12 text-danger'><h1>{{message}}</h1></span><br>
                        {% endif %}
                        {% endfor %}
                <H1>YOU HAVE ARRIVED AT THE WALL {{user_info.firstname}} {{user_info.lastname}}!</H1>
                <a href="/logout">Logout</a>
            </div>
            <div class="postmessage">
                <form action="/wall/submit_post/{{user_info.id}}" method="POST">
                {%csrf_token%}
                <label for="post_message"><h3>Post a message:</h3></label><br>
                <textarea name="post_message" cols="150" rows="10"></textarea><br>
                <input type="submit"><br>
                </form>
            </div>
            <div class="posted">
                {% for msg in all_messages %}
                <div>
                    <h5>{{msg.user.firstname}} {{msg.user.lastname}} - {{msg.created_at}}</h5>
                    <p>{{msg.post_message}}</p>
                    {% if msg.user.id == request.session.userid %}
                
                    <form action="/wall/delete_message/{{user_info.id}}/{{msg.id}}">
                        
                    <input type="submit" value="Delete Message">
                    </form>
                    {% else %}
                    {%endif%}
                    <form action="/wall/submit_comment/{{user_info.id}}/{{msg.id}}" method="POST">
                    {%csrf_token%}
                    <div>
                        <h5>Comments:</h5><br>
                        {%for comm in msg.wall_comments.all reversed %}
                        <p>{{comm.post_comment}}</p>
                        <p>Written by {{comm.user.firstname}} on {{comm.created_at}}</p>
                        {%endfor%}
                        <label for="post_comment">Post a comment:</Post></label><br>
                        <textarea name="post_message" cols="50" rows="2"></textarea><br>
                        <input type="submit" value="comment"><br>
                    </div>
                    </form>
                </div>
                {% endfor %}
                
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>