<!doctype html>
<html lang="en">
    <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                <h1>Hello {{user1.firstname}}!</h1>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <a href="/logout/{{user1.id}}">Logout</a>
                    <a href="/trip/create_trip/{{user1.id}}"><button>Create a New Trip</button></a>
                </div>
            </div>
            <div class="row">
                <h3>Your trips:</h3>
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <table style="width:100%">
                    <tr>
                        <th>Destination</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Plan</th>
                        <th>Actions</th>
                        <!-- <th>{{user1.id}}</th> -->
                    </tr>
                    {%for trip in all_trips%}
                    {%if trip.owner.id == user1.id %}
                    <tr>
                        <td><a href="/trip/view/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="/deletetrip/{{trip.id}}">Remove</a> | <a href="Edittrip/{{trip.id}}">Edit</a></td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            <div class="row">
                <table style='width: 100%'>
                    <tr>
                        <th>Destination</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Plan</th>
                        <th>Actions</th>
                        <!-- <th>{{user1.id}}</th> -->
                    </tr>
                    {%for trip in all_trips%}
                    {%if not trip.owner.id == user1.id %}
                    <tr>
                        <td><a href="/trip/view/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="jointrip/{{trip.id}}">  Join</a></td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>

        </div>
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>